@import "header.css";
@import "components/photographerHeader.css";
@import "components/img.css";
@import "pages/home.css";
@import "pages/photographer.css";

:root {
    --primary-color: #901C1C;
    --secondary-color: #D3573C;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
    line-height: 2;
}

body {
    font-family: "DM Sans", sans-serif;
    max-width: 1440px;
    margin-inline: auto;
}

img {
    object-fit: cover;
}

a::before,
a:after,
a {
    text-decoration: none;
}