.lightBox {
    display: none;
    align-items: center;
    justify-content: center;
    margin-inline: auto;
    height: 100vh;
    padding: 3rem;
    gap: 2rem;
}

.lightBox__slide {
    display: flex;
    flex-direction: row;
    height: 100%;
    gap: 2rem;
}

.lightBox__left-side,
.lightBox__right-side {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.lightBox__slide__content {
    height: 100%;
}

.lightBox__slide__content__media {
    width: 1050px;
    height: 98%;
    border-radius: 5px;
    box-shadow: 3px 3px 10px 2px #757575;
}

.lightBox__slide__content__title {
    font-size: var(--large-text-size);
    color: var(--primary-color);
    line-height: 1.5;
}

.lightBox__right-side__closeBtn,
.lightBox__right-side__nextBtn {
    height: 50%;
}

.lightBox__right-side__closeBtn__btn {
    margin-top: 1rem;
}