.lightBox {
    display: none;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-inline: auto;
    height: 100vh;
}

.lightBox__slide__content {
    width: 1060px;
    overflow: hidden;
    position: relative;
}

.lightBox__slide__content[isSelected=false] {
    display: none;
}

.lightBox__slide__content__img {
    width: 1050px;
    height: 900px;
    border-radius: 5px;
    box-shadow: 3px 3px 10px 2px #757575;
}

.lightBox__slide__content__title {
    font-size: var(--large-text-size);
    color: var(--primary-color);
    line-height: 1.5;
}

.lightBox__prevBtn,
.lightBox__nextBtn,
.lightBox__closeBtn {
    position: absolute;
    z-index: 1;
}

.lightBox__prevBtn {
    top: 50%;
    left: 135px;
}

.lightBox__nextBtn {
    top: 50%;
    right: 135px;
}

.lightBox__closeBtn {
    top: 60px;
    right: 130px;
}